@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Classes */

.card {
  padding: 8px 12px 8px 16px;
  border-radius: 8px;
  border-color: #333;
  border-width: 1px;
  border-style: solid;
}
.main-border {
  border-color: #333;
  border-width: 1px;
  border-style: solid;
}
.bg-dark-light {
  background: #0a0a0a;
}
.bg-dark {
  background: #000000;
}
.bg-gray {
  background: #2a2828;
  border: 1px solid #3e3c3c;
  padding: 0.12em 0.25em;
  border-radius: 0.375rem;
}
.text-gray {
  color: #888;
}

/* scrollbar customize */
::-webkit-scrollbar {
  /* width */
  width: 6px;
}
::-webkit-scrollbar-track {
  /* Track */
  background: #000000;
}
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  cursor: pointer;
  /* Handle */
  background: #2a2828;
}
::-webkit-scrollbar-thumb:hover {
  /* Handle on hover */
  background: #555;
}

/* Customize the markdown preview section */
.markdown-preview-custom {
  font-weight: 400;
}
.markdown-preview-custom pre {
  background: #0a0a0a !important;
  padding: 8px 12px 8px 16px !important;
  border-radius: 8px !important;
  border-color: #333 !important;
  border-width: 1px !important;
  border-style: solid !important;
  margin-top: 1rem;
}
.markdown-preview-custom code {
  background: #2a2828;
  border: 1px solid #3e3c3c;
  padding: 0.12em 0.25em;
  border-radius: 0.375rem;
  margin: 0 0.4rem;
}
.markdown-preview-custom h1 {
  border-bottom: 1px solid #3e3c3c;
}
.markdown-preview-custom strong,
.markdown-preview-custom b {
  font-weight: 900;
  color: #ddd;
}
.markdown-preview-custom pre code {
  background: transparent;
  border: none;
  padding: 0;
  border-radius: 0;
}
.markdown-preview-custom pre div {
  background: transparent !important;
}

/* 
==========================
====Markdown custom Styles======
==========================
*/
/* Reset default styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  vertical-align: baseline;
}

/* Basic styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
}

a {
  color: #007bff;
  text-decoration: none;
}

/* Lists */
ul,
ol {
  margin-left: 1.5em;
  margin-bottom: 1em;
}

/* Tables */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 0.5em;
  border: 1px solid #ccc;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}
/* Form elements */
input,
textarea,
select {
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

button,
input[type="submit"] {
  padding: 0.5em 1em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Miscellaneous */
hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}

code {
  font-family: Consolas, monospace;
  font-size: 14px;
  /* background-color: #f5f5f5; */
  padding: 0.25em 0.5em;
}

/* Responsive Styles */
@media (max-width: 768px) {
  /* Example responsive styles */
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  p {
    font-size: 0.9em;
  }
}
