@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Classes */

.card {
  padding: 8px 12px 8px 16px;
  border-radius: 8px;
  border-color: #333;
  border-width: 1px;
  border-style: solid;
}
.main-border {
  border-color: #333;
  border-width: 1px;
  border-style: solid;
}
.bg-dark-light {
  background: #0a0a0a;
}
.bg-dark {
  background: #000000;
}
.bg-gray {
  background: #2a2828;
  border: 1px solid #3e3c3c;
  padding: 0.12em 0.25em;
  border-radius: 0.375rem;
}
.text-gray {
  color: #888;
}

/* scrollbar customize */
::-webkit-scrollbar {
  /* width */
  width: 6px;
}
::-webkit-scrollbar-track {
    /* Track */
    background: #000000;
}
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    cursor: pointer;
  /* Handle */
  background: #2a2828;
}
::-webkit-scrollbar-thumb:hover {
  /* Handle on hover */
  background: #555;
}
