@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Classes */

.card {
  padding: 8px 12px 8px 16px;
  border-color: #333;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
}
.bg-dark {
  background: #0a0a0a;
}
.bg-dark-light {
  background: #000000;
}
